<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Choose category</h1>
<form action="/shop" method="post">
    <h3>Seed
    <input type="submit" name="choice" value="Seeds"/>
    Flower
    <input type="submit" name="choice" value="Flowers"/>
    Tree
    <input type="submit" name="choice" value="Trees"/>
    Tool
    <input type="submit" name="choice" value="Tools"/></h3>
    <h3>Or search by product name</h3>
    <input type="text" name="product"/>
    <input type="submit" name="choice" value="Search"/>
</form>
<a href="/shoppingcart">Shopping cart</a>
</body>
</html>